{% extends "account/base2.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
<br>
<br>
<h1 class='text-center'> Current in Badminton World</h1>
<br/>
<br/>
<h3 class='text-center'>Top 25 Men's Single Player</h3>
<table id="example" class="table table-striped" style="width:100%">
  <thead>
      <tr>
          <th>Rank</th>
          <th>Country</th>
          <th>Name</th>
          <th>Earnings</th>
          <th>Points</th>
      </tr>
  </thead>
  <tbody>
    {% for player in ms %}
      <tr>
          <td>{{player.rank}}</td>
          <td>{{player.country}}</td>
          <td>{{player.name}}</td>
          <td>{{player.earnings}}</td>
          <td>{{player.points}}</td>
      </tr>
    {% endfor %}
</tbody>
</table>

<br>
<br>
<br>
<h3 class='text-center'>Top 25 Women's Single Player</h3>
<table id="tablews" class="table table-striped" style="width:100%">
  <thead>
      <tr>
          <th>Rank</th>
          <th>Country</th>
          <th>Name</th>
          <th>Earnings</th>
          <th>Points</th>
      </tr>
  </thead>
  <tbody>
    {% for player in ws %}
      <tr>
          <td>{{player.rank}}</td>
          <td>{{player.country}}</td>
          <td>{{player.name}}</td>
          <td>{{player.earnings}}</td>
          <td>{{player.points}}</td>
      </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}