{% extends 'account/base.html' %}
{% block content %}

<div class="shadow p-3 mb-5 bg-white rounded">
<div class="mx-auto" style="width: 200px;">
Login
<form method = "POST" action="">
    {% csrf_token %}
    
    Username: <input type="text" name="username" placeholder="username"><br/>
    Password: <input type="password" name="password" placeholder="ups"><br/><br/>
    <input type="submit" class="btn btn-outline-secondary btn-lg" role="button" value="Login"> </a>
    <a href="{% url 'register' %}" class="btn btn-outline-secondary btn-lg " role="button" > Signup </a></br>
</form>
</div>
<div class="mx-auto" style="width: 250px;">
    {% for m in messages %}
    <h3 class="text-md-center text-success"> {{m}}</h3> 
    
</div>
</div>
{% endfor %}
{% endblock %}