{% extends 'account/base2.html' %}

{% block content %}
       <div class="mx-auto" style="width: 1500px;">
        <h1>Profile</h1> </br>
        <p class="text-secondary">You can Edit your Name , Roll number , and Phone number Below or leave as it is if you don't want to update them</p>

        <form method="POST" action="" enctype="multipart/form-data">
             {% csrf_token %}
      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control mx-sm-3 w-25 p-3" id="Name" aria-describedby="emailHelp" placeholder={{form.name}}
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="Roll Number">Roll Number</label>
        <input type="Roll Number" readonly class="form-control mx-sm-3 w-25 p-3" id="Roll Number" placeholder={{form.roll}}
      </div>
      <div class="form-group">
        <label for="Roll Number">Phone</label>
        <input type="Roll Number" class="form-control mx-sm-3 w-25 p-3" id="Roll Number" placeholder={{form.phone}}
      </div>
      Items Issued :<strong> {{i}} </strong><br/><br/>
            <input type="submit" class="btn btn-outline-warning btn-lg" role="button" value="UPDATE"> </a>
    </form>
    </div>
{% endblock %}
