{% extends 'account/base.html' %}
{% block content %}

<div class="shadow p-3 mb-5 bg-white rounded">

    <h3 class="text-center text-secondary">BAD-Meldinton </h3>
    <br>
    <h5 class="text-center text-primary">Welcome to Our Community , Get Ready To Be Thrilled</h5>
    <br><br>
<form method="POST" action="\register\">

    {% csrf_token %}
     {% for o in pform %}
    <div class="mx-auto" style="width: 450px;">
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-7 col-form-label">{{o.label}}</label>
            <div class="col-sm-1">
              {{o}}
            </div>
          </div>
        </div>
    {% endfor %}
    {% for f in form %}
        <div class="mx-auto" style="width: 450px;">
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-7 col-form-label ">{{f.label}}</label>
            <div class="col-sm-5">
              {{f}}
            </div>
        </div>
    {% endfor %}
    <!--{{pform.as_p}}-->
    <div class="alert alert-danger" role="alert">
  {{form.errors}}
</div>


    <input type="submit" class="btn btn-outline-success btn-lg btn-block" role="button" value="Register" name="Create User"> </a>

</form>

</div>
{% endblock %}